body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#9198e5, #e66465);
    height: 100vh;
}
.button{
    font-size: 2rem;
    padding: 10px 28px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:  rgb(36, 50, 175);
    color: #ffffff;
    box-shadow: 0px 2px 2px 2px #44444467;
}
.container{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    width: 800px;
    height: 600px;
    gap: 20px;
    margin-top: 30px;
    padding: 40px 0px;
    padding-left: 160px;
    border-radius: 10px;

    
}
.botao{
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 2px 2px 2px #44444467;
}
.botao:hover{
    background-color: #adadad;
}
.botao:active{
    background-color: rgb(0, 0, 0);
}
.luzes{
    display: flex;
    height: 40px;
    margin-top: 30px;
    box-shadow: 0px 2px 2px 2px #44444467;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}
.luz{
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    box-shadow: 0px 2px 2px 2px #44444467;
}
#lose{
    background-color: red;
    font-weight: bold;
    position: absolute;
    font-size: 10rem;
    top: 200px;
    padding: 200px 100px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 2px #44444467;

}
#win{
    font-weight: bold;
    position: absolute;
    font-size: 10rem;
    top: 200px;
    padding: 200px 100px;
    border-radius: 5px;
    background-color: greenyellow;
    box-shadow: 0px 2px 2px 2px #44444467;
}
.blockButtons{
    background-color: yellow;
    width: 900px;
    height: 800px;
    position: absolute;
    top: 120px;
    opacity: 0;
}
.link{
    text-decoration: none;
    font-size: 1rem;
    display: block;
    margin-top: 10px;
    color: white;
    background-color: rgba(255, 0, 0, 0.815);
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0px 2px 2px 2px #44444467;
}
.link-easy{
    text-decoration: none;
    font-size: 1rem;
    display: block;
    margin-top: 10px;
    color: white;
    background-color: rgb(59, 146, 226);
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0px 2px 2px 2px #44444467;
}